.content_wrapper {
    background-color: rgb(247, 219, 166);
}

.sidebar-dark-primary {
    background-color: rgb(83, 64, 38) !important;
   
}

.sidebar p{
    color:rgb(249, 248, 247) !important;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 22px;
}

label{
    font-size: 25px;
}

h1{
    font-weight: bold;
}

th{
    font-size: 25px;
}

td{
    font-size: 22px;
}

.home_click{
    color: black;
}

